*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c4c4c4;
}
h1{
    font-size: 45px;
    color: #252525;
}
h2{
   color: #0066cc;
}
h3{
    color: #0066cc;
    background-color: #c4c4c4;
    padding: 10px;
}

a{
    text-decoration: none;
}

#header{
    text-align: center;
    background-color:#0066cc;
    padding: 10px;
}
#menu{
    padding: 10px;
}
#header a:link, #header a:visited{
    color: white;
    padding: 8px 10px;
}
#header a:hover{
    background-color: white;
    color: #0066cc;
}
#post{
    width: 900px;
    padding: 20px;
    float: left;
    margin-left: 400px;
    margin-bottom: 20px;
    background-color: white;
}
.imagem{
    width: 860px;
    height: 620px;
    padding: 20px;
}

.categorias{
    float: right;
    width: 200px;
    padding: 15px;
    margin-right: 300px;
    margin-bottom: 15px;
    background-color: white;
}
#post-recent{
    float: right;
    width: 200px;
    padding: 15px;
    margin-right: 300px;
    background-color: white;
}
#post-recent a:hover{
    text-decoration: underline;
}
.post-recent{
    padding: 10px;
}
.categorias a:link, .categorias a:visited{
    color: #0066cc;

}
.categorias a:hover{
  
    text-decoration: underline;

}
#data-post{
font-size: 13px;
border-bottom: 1px solid #0066cc;
padding-bottom: 10px;
margin-bottom: 10px;
display: block;
}
#footer{
    clear: both;
    background-color: white;
    padding: 15px;
    text-align: center;
    color: #0066cc;
}